
#svg_4 {
  fill: blue;
  stroke: red; 
   
  transition: all 3s;
  /*transition: transform .7s;*/
}


svg:hover #svg_4 {
  fill: red;
  stroke-width:8;
  stroke: blue;
                      

  transform: scale(1.3); 
  transform-origin: 50% 50%; 
}

svg {
  border: 1 solid red;
  outline: 1 solid red;
}