<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width,initial-scale=1">
  
  <link rel="stylesheet" href="../pf-base.css"> 
  <link rel="stylesheet" href="./pf-flex.css">
  <title>Portfolio</title>
</head>
<body>
<div class="pf-container">

  <div class="pf-sidebar-container">
    <div class="pf-sidebar">
      <h1>Hi there!</h1>
      <p>My name is XXX and I buld web aplication. </p>
    </div> 
  </div>
  
  <div class="pf-content">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, autem, atque expedita recusandae et necessitatibus veniam amet quae ullam tempore. Deleniti, blanditiis numquam cum expedita facilis odit delectus molestiae quos.</p>
          
     <h1>Services</h1>
     
     <div class="pf-grid">
        <div class="pf-grid-item">
          <h2>Consulting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quis, aliquid ipsa reiciendis odit animi debitis quaerat cum error ab? Mollitia, beatae magnam similique accusamus possimus debitis id nostrum nesciunt.</p>
          <a href="#">Learn more...</a>
        </div>

        <div class="pf-grid-item">
          <h2>Consulting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quis, aliquid ipsa reiciendis odit animi debitis quaerat cum error ab? Mollitia, beatae magnam similique accusamus possimus debitis id nostrum nesciunt.</p>
          <a href="#">Learn more...</a>
        </div>
        <div class="pf-grid-item">
          <h2>Consulting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quis, aliquid ipsa reiciendis odit animi debitis quaerat cum error ab? Mollitia, beatae magnam similique accusamus possimus debitis id nostrum nesciunt.</p>
          <a href="#">Learn more...</a>
        </div>
        <div class="pf-grid-item">
          <h2>Consulting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quis, aliquid ipsa reiciendis odit animi debitis quaerat cum error ab? Mollitia, beatae magnam similique accusamus possimus debitis id nostrum nesciunt.</p>
          <a href="#">Learn more...</a>
        </div>
        <div class="pf-grid-item">
          <h2>Consulting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quis, aliquid ipsa reiciendis odit animi debitis quaerat cum error ab? Mollitia, beatae magnam similique accusamus possimus debitis id nostrum nesciunt.</p>
          <a href="#">Learn more...</a>
        </div>

     </div>
  </div>
</div>  
</body>
</html>